.fc-view-container .fc-day-grid-event {
    margin: 0 5px 5px;
    padding: 5px 10px;
}

.fc-view-container .fc-time {
    font-weight: normal !important;
}

.fc-event {
    font-size: inherit !important;
    font-weight: bold !important;
}

.fc-event span {
    color: #fff;
}

.fc-button-primary {
    color: #975aff;
    border-color: #efdeff;
    outline: none !important;
    background-color: #efdeff;
}

.fc-button-primary:hover,
.fc-button-primary:focus,
.fc-button-primary:active {
    color: #fff;
    border-color: #975aff !important;
    outline: none;
    background-color: #975aff !important;
    box-shadow: none !important;
}

.fc-button-primary:disabled {
    border-color: #8f9db8;
    background-color: #8f9db8;
}

.fc-button-primary:disabled:hover {
    border-color: #8f9db8 !important;
    background-color: #8f9db8 !important;
}

.fc-button-primary.fc-button-active {
    color: #fff;
    border-color: #975aff !important;
    background-color: #975aff !important;
}

td.fc-other-month.fc-past {
    background: #f7f7f8;
}

.fc-view>table th,
.fc-view>table td {
    border-color: #e0e0e0;
}


/* Apply same opacity to all day events */

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
    margin-right: 15px !important;
    padding: 5px 10px !important;
    opacity: .65 !important;
}


/* Apply same opacity to all day events */

.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    margin-left: 15px !important;
    padding: 5px 10px !important;
    opacity: .65 !important;
}

.fc-events-container {
    margin-top: 1.6rem;
    padding: 0 10px;
    text-align: right;
    border: 1px solid #e0e0e0;
}

.fc-events-container .fc-event {
    margin: 10px 0;
    padding: 5px 10px;
}

.fc-events-container .checkbox label {
    margin-top: 2px;
}

@media (max-width: 849.98px) {
    #fc-external-drag .fc-toolbar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    #fc-external-drag .fc-toolbar>div {
        margin-bottom: .5rem;
    }
}

@media (max-width: 575.98px) {
    .fc-toolbar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .fc-toolbar>div {
        margin-bottom: .5rem;
    }
}