.auth-page:not(.layout-dark) {
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-page .auth-img {
    padding: 0;
}

.auth-page .auth-img .auth-img-bg {
    background-color: #f5f5f5;
}

.auth-height {
    overflow: auto;
}

#login .blue-shape {
    background-image: url('../../img/pages/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 0 0 200px 0;
}

#login .blue-shape::before {
    content: '';
    width: 238px;
    height: 258px;
    background-image: url('../../img/pages/shape.png');
    position: absolute;
    right: -237px;
    top: 0;
}

.form-control,
.form-control:focus {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 44px;
    border: none;
    padding: 26px;
}

body {
    background-color: white;
}

.btn-login {
    font-family: 'Neo Sans Arabic';
    background: transparent linear-gradient(180deg, #707070 0%, #383838 100%) 0% 0% no-repeat padding-box;
    border-radius: 29px;
    color: white;
    padding: 15px;
    border: none;
}

.btn-login:hover {
    opacity: 0.8;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font: normal normal normal 45px/63px Neo Sans Arabic;
    letter-spacing: 0px;
    color: #707070;
}

.form-control::placeholder {
    font: normal normal normal 16px/28px Neo Sans Arabic;
    letter-spacing: 0px;
    color: #707070;
}

a,
span {
    font-family: 'Neo Sans Arabic';
    color: #707070;
    font-size: 15px;
}

.login-container {
    max-width: 462px;
}