.apexcharts-tooltip,
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
    color: #342e49 !important;
}

.apexcharts-toolbar [class*=apexcharts-] svg {
    fill: #bdbdbd;
}

.apexcharts-toolbar [class*=apexcharts-]:hover svg {
    fill: #bdbdbd !important;
}