.dragdrop-container>div {
    cursor: grab;
    cursor: -webkit-grab;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.dragdrop-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, .2);
}

.dragdrop-container .users-list li {
    line-height: 1.5;
}

.dragdrop-container .users-list li img {
    border: 2px solid #fff;
}

.dragdrop-container .users-list li+li {
    margin-right: -.4rem;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}